button-color(base-color = rgba(color-black, .3), text-color = color-white)
    background-color base-color
    color text-color

    &:hover
        background saturate(lighten(base-color, 10), 30)

.button, button, input[type='submit'], input[type='reset']
    button-color()
    border-radius()
    vertical-rhythm()
    display inline-block
    padding 18px 25px
    text-transform uppercase
    transition background-color .2s

    &.primary
        button-color(color-brand)

    &.large
        padding 20px 30px
        font-size type-size-base + 3px
        font-weight bold