[class^='icon-'], [class*=' icon-']
    icon()

.icon-moon:before
    content: '\e904'

.icon-sun:before
    content: '\e905'

.icon-mail:before
    content: '\e903'

.icon-github:before
    content '\e900'

.icon-twitter:before
    content: '\e901'

.icon-youtube:before
    content '\e902'