@font-face
    font-family: 'icomoon';
    src url('/fonts/icomoon.eot?ay7e1z');
    src url('/fonts/icomoon.eot?ay7e1z#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?ay7e1z') format('truetype'),
        url('/fonts/icomoon.woff?ay7e1z') format('woff'),
        url('/fonts/icomoon.svg?ay7e1z#icomoon') format('svg')
    font-weight normal
    font-style normal

[class^='icon-'], [class*=' icon-']
    smooth-font()
    font-family 'icomoon' !important
    speak none
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none

.icon-mail:before
    content: '\e903'

.icon-github:before
    content '\e900'

.icon-twitter:before
    content: '\e901'

.icon-youtube:before
    content '\e902'