section#cfp(full-height): .page-size

    .row

        .col-7

            h1 Call for Speakers

            p Nodesconf London is a one-day, single-track conference.

            p We'll bring together our industry's enterprise heavyweights, our subject experts and highlight the finest talent London has to offer.  We’ll be bringing you perspectives from the enterprise whilst providing cutting edge developer insights.

            p If you'd like to be involved, we'd love to hear your proposal, even if you have never spoken at a conference before, so get in touch!

            h2 Format & Topics

            p Talks will be 20 minutes long, followed by a Q&A Panel with time for questions. Our panel host will conduct an intimate discussion, actively involving the audience and our speakers, offering participants a more in-depth opportunity to learn.

        .col-5

            img.illustration(src='/assets/illustrations/megaphone.svg')

    .row.cfp-boxes

        .col-3: .box

            h3 Start it..

            ul.category
                li: span Enterprise transformation stories with node?
                li: span Architectures for growth, from small to large.
                li: span Group therapy, share you lessons learnt?
                li: span The impact of technical debt!
                li: span Local community initiatives, the mutual benefits!

        .col-3: .box

            h3 Build it..

            ul.category
                li: span Patterns for success (API's, Security, Performance, Memory Management, Accessibility etc)
                li: span Which interface? (Electron, CLI, Watches, IoT)
                li: span Efficiency gains through tooling and core releases (v8, node, es6/7)
                li: span Changes to Node.js core & NPM (Chakra, ES7, Promises)
                li: span Bot bot bots (the slack variety)
                li: span JavaScript goodness (Typescript, React, Redux etc..)
                li: span Latency on the web (high Vs. low and how to cope)

        .col-3: .box

            h3 Ship it..

            ul.category
                li: span Continuous Delivery success stories
                li: span DevOps playbooks
                li: span The test pyramid!!
                li: span Continuous Delivery Myths
                li: span How to restore calm!

        .col-3: .box

            h3 Use it..

            ul.category
                li: span Support strategies (the good, the bad and the ugly!)
                li: span Debugging the madness
                li: span Scaling strategies for the masses
                li: span Performance throughout the stack
                li: span The truth about stability & security
                li: span Monitoring the world and preventing disaster

    h4 Leave at home:

    ul.talkuntopics
        li: span Your company's new product

    p It's best to prepare for no internet and we ask all speakers to read and comply with our code of conduct.

    h2 Our Promise

    p We treat all speakers same and understand the commitment you are making to Nodeconf London, so, here is our promise to you.

    h3 Reimbursement

    p We'll pay you £250 and You'll receive a complimentary ticket to the next Nodeconf London! Want to waive some, or all of your fee? we'll make a donation to our chosen non-profit.

    h3 We've got you covered!

    p We'll cover the cost of your travel including the cost of your flights, and if you like, we'll make your travel arrangements on your behalf. We will also be on hand to help you with your needs in and around the conference.

    p We'll cover the cost of your accommodation. If you want to stay a little extra day, we will do our best to accommodate. Please let us know if you have any accessibility considerations.

    p On the day of the conference and the day before, we'll provide you with breakfast, lunch and £25! If you need some mobile data, we'll have some pre-loaded mifi devices ready to go.

    p If your company is able to cover any your expenses, we'll list them as a sponsor.

    h2 Let's go?

    p Whether this is your first proposal or whether your a seasoned pro, we'll do our best to help you shape your talk to make sure it flows with the day.


    p Please include the following information:

    ul.submbission-guide
        li: span Title
        li: span Topic Category
        li: span Description (300 word or less)
        li: span 2-3 learning objectives
        li: span City of residence

    p
        a(href='mailto:ian.crowther@nearform.com?Subject=Nodeconf%20London%202016%20-%20Talk%20Proposal&Body=Please%20include%20the%20following%20information%3A%0A%0A-%20Title%0A-%20Description%20%28300%20words%20or%20less%29%0A-%20Topic%20Category%0A-%202-3%20learning%20objectives%0A-%20City%20of%20residence') Submit your proposal

    p We'll evaluate proposals based on the following criteria:

    ul.evaluation
        li: span Impact on our industry
        li: span Appeal to a diverse audience
        li: span Relevance to the conference goals
        li: span Quality of the written proposal

    p Finally, here's a rundown of the important dates:

    ul.important-dates
        li: span CFP submission date - April 1st 2016
        li: span Speaker selections - April 4th 2016

    p If you have any questions feel free to #[a(href='mailto:ian.crowther@nearform.com?Subject=Nodeconf%20London%202016%20-%20Query') email me] or reach out on twitter #[a(href='http://twitter.com/iancrowther') @iancrowther].