section#event(full-height): .page-size

    .row

        .col-6.copy

            h2 The Event

            p.large.
                NodeConf London is aimed at software experts at all stages of their Node.js journey, from coding right up to C-level decision making.
                <br><br>
                It brings together the sharpest minds from the enterprise with the industry’s leading software development heavyweights and the finest talent that London has to offer.

            p.center

                h4
                    | Presented by 
                    a(href='http://www.nearform.com', target='_blank'): img.logo(src='/assets/logo/nearform-inline.svg')

        .col-6

            .illustration
