section#event(full-height): .page-size

    .row

        .col-6.copy

            h2 The Event

            p.large.
                NodeConf London is a one-day, single-track conference.
                <br><br>
                NodeConf London will bring together our industry's enterprise heavyweights,
                our subject experts and highlight the finest talent London has to offer.
                <br><br>
                We’ll bring you perspectives from the enterprise whilst providing cutting edge developer insights.


            p.center

                h4
                    | Presented by 
                    a(href='http://www.nearform.com', target='_blank'): img.logo(src='/assets/logo/nearform-inline.svg')

            //- a.button Learn more

        .col-6

            .illustration