section#getting-there(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/getting-there.svg')

    h2.center Getting there

    .box.contained
        .hexa-badge.top Address

        | Barbican Centre
        br
        | Silk Street London, EC2Y 8DS
        br
        | Underground: Barbican, Moorgate

    .row.get-there

        .col-6.copy

            h4 Underground

            p The Barbican Centre is located within walking distance from Barbican and Moorgate.

            h4 Rail

            p The nearest train stations are Liverpool Street and Farringdon.

            h4 Bus

            p Bus Route 153 runs directly past the Barbican along Chiswell&nbsp;Street.

            h4 Bycicle

            p.
                Our nearest TFL bike station is Silk Street.
                <br><br>
                Cycle racks are available at the entrance to Car&nbsp;Park&nbsp;5
                and exit to Car&nbsp;Park&nbsp;3
                and helmets and equipment can be left in our free cloakrooms.

        .col-6: a.map(href='https://www.google.com/maps/place/Barbican+Centre/@51.5200768,-0.0954517,17z/data=!4m6!1m3!3m2!1s0x48761b56fb64b275:0xc756e26675d21f40!2sBarbican+Centre!3m1!1s0x48761b56fb64b275:0xc756e26675d21f40', target='_blank')

    .center

        a.button.primary(href='https://www.google.com/maps/place/Barbican+Centre/@51.5200768,-0.0954517,17z/data=!4m6!1m3!3m2!1s0x48761b56fb64b275:0xc756e26675d21f40!2sBarbican+Centre!3m1!1s0x48761b56fb64b275:0xc756e26675d21f40', target='_blank') View on Google Maps
