section#getting-there(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/getting-there.svg')

    h2.center How to Get There

    .address
        .hexa-badge.top Address

        | Barbican Centre
        br
        | Silk Street London 
        br
        | EC2Y 8DS
        br
        | Underground: Barbican, Moorgate

    .row.get-there

        .col-6.copy

            h4 By Underground

            p
                | The Barbican Centre is located within walking distance from a number of London Underground stations, the closest being Barbican, St Paul’s and Moorgate. To plan your journey and for up to date travel information, visit the 
                a(href='https://tfl.gov.uk/', target='_blank') TfL website
                | .

            h4 By Rail

            p The nearest train stations are Liverpool Street and Farringdon.

            h4 By Bus

            p
                | Bus Route 153 runs directly past the Barbican along Chiswell Street. We are easily accessible by bus from around the city; plan your journey using the 
                a(href='https://tfl.gov.uk/?cid=pp004', target='_blank') TfL Interactive Bus Map
                | .

            h4 By Bycicle

            p
                | Cycle racks are available at the entrance to 
                a(href='https://www.barbican.org.uk/visitor-information/car-parking', target='_blank') Car Park 5 
                | and exit to 
                a(href='https://www.barbican.org.uk/visitor-information/car-parking', target='_blank') Car Park 3 
                | and helmets and equipment can be left in our free cloakrooms. Our nearest TfL Bicycle 
                a(href='https://tfl.gov.uk/modes/cycling/santander-cycles/find-a-docking-station', target='_blank') Hire docking station 
                | is Silk Street. Plan your journey using the 
                a(href='https://tfl.gov.uk/modes/cycling/', target='_blank') TfL Cycle Journey Planner
                | .

        .col-6: a.map(href='https://www.google.com/maps/place/Skills+Matter', target='_blank')

    .center

        a.button.primary(href='https://www.google.com/maps/place/Skills+Matter', target='_blank') View on Google Maps