section#hero.center(full-height): .page-size

    a.logo(href='#event', title='Nodeconf Logo'): img(src='/assets/logo/nodeconf-london.svg')

    .content

        h1 London NodeConf 2016

        h2.h5 Wed 11th May 2016 &bull; The Barbican, London

        a.button.primary.large(href='', target='_blank') Get Tickets - Soon!
        // http://nodeconf-london-2016.eventbrite.com

    .cloud.cloud-01
    .cloud.cloud-02
    .cloud.cloud-03
