section#schedule(full-height): .page-size

    .row

        .col-6.copy

            h2 Schedule

            table
              tr
                th Start
                th End
                th Type
                th Segment

              tr
                td 08:30
                td 09:00
                td Registration

              tr
                td 09:05
                td 09:10
                td Talk
                td Introduction

              tr
                td 09:15
                td 09:35
                td Talk
                td Start it..

              tr
                td 09:40
                td 10:00
                td Talk
                td Start it..

              tr
                td 10:05
                td 10:25
                td Talk
                td Start it..

              tr
                td 10:30
                td 10:45
                td Panel
                td Start it..

              tr
                td 10:45
                td 10:55
                td Break
                td

              tr
                td 11:00
                td 11:20
                td Talk
                td Build it..

              tr
                td 11:25
                td 11:45
                td Talk
                td Build it..

              tr
                td 11:50
                td 12:10
                td Talk
                td Build it..

              tr
                td 12:15
                td 12:30
                td Panel
                td Build it..

              tr
                td 12:30
                td 13:30
                td Lunch
                td

              tr
                td 13:45
                td 14:05
                td Talk
                td Ship it..

              tr
                td 14:10
                td 14:30
                td Talk
                td Ship it..

              tr
                td 14:35
                td 14:55
                td Talk
                td Ship it..

              tr
                td 15:00
                td 15:15
                td Panel
                td Ship it..

              tr
                td 15:15
                td 15:25
                td Break
                td

              tr
                td 15:30
                td 15:50
                td Talk
                td Use it..

              tr
                td 15:55
                td 16:15
                td Talk
                td Use it..

              tr
                td 16:20
                td 16:40
                td Talk
                td Use it..

              tr
                td 16:45
                td 17:00
                td Panel
                td Use it..

              tr
                td 17:00
                td 17:10
                td Closing
                td

              tr
                td 17:15
                td 00:00
                td After Party
                td

        .col-6

            .illustration
