section#schedule(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/schedule.svg')

    h2.center Schedule

    table

        thead

            tr

                th.start Start
                th.end End
                th.type Type
                th.segment Segment

        tbody

            tr
                td.start 08:30
                td.end 09:00
                td.type Registration
                td.segment

            tr
                td.start 09:05
                td.end 09:10
                td.type Talk
                td.segment Introduction

            tr.start-it
                td.start 09:15
                td.end 09:35
                td.type Talk
                td.segment Start it..

            tr.start-it
                td.start 09:40
                td.end 10:00
                td.type Talk
                td.segment Start it..

            tr.start-it
                td.start 10:05
                td.end 10:25
                td.type Talk
                td.segment Start it..

            tr.start-it
                td.start 10:30
                td.end 10:45
                td.type Panel
                td.segment Start it..

            tr
                td.start 10:45
                td.end 10:55
                td.type Break
                td.segment

            tr.build-it
                td.start 11:00
                td.end 11:20
                td.type Talk
                td.segment Build it..

            tr.build-it
                td.start 11:25
                td.end 11:45
                td.type Talk
                td.segment Build it..

            tr.build-it
                td.start 11:50
                td.end 12:10
                td.type Talk
                td.segment Build it..

            tr.build-it
                td.start 12:15
                td.end 12:30
                td.type Panel
                td.segment Build it..

            tr
                td.start 12:30
                td.end 13:30
                td.type Lunch
                td.segment

            tr.ship-it
                td.start 13:45
                td.end 14:05
                td.type Talk
                td.segment Ship it..

            tr.ship-it
                td.start 14:10
                td.end 14:30
                td.type Talk
                td.segment Ship it..

            tr.ship-it
                td.start 14:35
                td.end 14:55
                td.type Talk
                td.segment Ship it..

            tr.ship-it
                td.start 15:00
                td.end 15:15
                td.type Panel
                td.segment Ship it..

            tr
                td.start 15:15
                td.end 15:25
                td.type Break
                td.segment

            tr.use-it
                td.start 15:30
                td.end 15:50
                td.type Talk
                td.segment Use it..

            tr.use-it
                td.start 15:55
                td.end 16:15
                td.type Talk
                td.segment Use it..

            tr.use-it
                td.start 16:20
                td.end 16:40
                td.type Talk
                td.segment Use it..

            tr.use-it
                td.start 16:45
                td.end 17:00
                td.type Panel
                td.segment Use it..

            tr
                td.start 17:00
                td.end 17:10
                td.type Closing
                td.segment

            tr
                td.start 17:15
                td.end 00:00
                td.type After Party
                td.segment