section#scolarship(full-height): .page-size

    .row

        .col-5.right

            img.illustration(src='/assets/illustrations/scolarship.svg')

        .col-7.left

            h1 Scolarship

            p.
                We’re aware that not everyone who is passionate about and 
                committed to Node.js may be in a position to pay for a 
                conference ticket.
                <br><br>
                With this in mind, I’m delighted to announce the NodeConf 
                London scholarship. This scholarship makes available a number 
                of tickets at no cost.

            h4 Eligibility

            p.
                The scholarship is available to anyone not normally able to 
                attend a conference. If that might be you (even if you’re not 
                in one of the groups below) then please apply.
                <br><br>
                Some of the groups we are especially keen to support include:

            ul
                li LGBTQIA+
                li Ethnic minorities
                li Women
                li Disabled people
                li Charity workers
                li Educational workers and students

            h4 Applying

            p.
                Applying for a scholarship ticket is super simple. Send a 
                short email to <a href='mailto:ian.crowther@nearform.com?subject=NodeConf London Scholarship'>ian.crowther@nearform.com</a> 
                using the title <em>"NodeConf London Scholarship"</em>.
                <br><br>
                In your email, please include:

            ul
                li A bit about who you are.
                li Some info on what you do.
                li A few words detailing why you would like the scholarship.

            p.
                Please note,
                <br>
                Successful applicants will get a single standard conference ticket.
                <br><br>
                All emails will be treated in the strictest confidence, we will not announce who the scholarships go to but you’re welcome to say so yourself.
                We are only able to cover the cost of the conference ticket so please consider your travel costs before applying.
                Many thanks to Simon McManus and the EnhanceConf team for the inspiration for this post.

            a.button(href='mailto:ian.crowther@nearform.com?subject=NodeConf London Scholarship') Apply now