section#sponsors(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/sponsors.svg')

    h2 Sponsors

    ul.sponsors-list

        li: a(href='http://www.nearform.com', target='_blank'): img(src='/assets/logo/nearform-white.svg', alt='Nearform')
        li: a(href='http://www.redhat.com', target='_blank'): img(src='/assets/logo/redhat-white.svg', alt='Redhat')
        li: a(href='http://www.workshape.io', target='_blank'): img(src='/assets/logo/workshape-white.svg', alt='Workshape.io')

    h3 Community Sponsors

    ul.sponsors-list.community

        li: a(href='http://lnug.org', target='_blank'): img(src='/assets/logo/lnug-white.svg', alt='LNUG')
        li: a(href='http://nodebots.io', target='_blank'): img(src='/assets/logo/nodebots-white.svg', alt='Nodebots')
        li: a(href='http://nodeschool.io/london', target='_blank'): img(src='/assets/logo/nodeschool-white.svg', alt='Nodeschool London')
        li: a(href='http://www.meetup.com/London-JavaScript-Community', target='_blank'): img(src='/assets/logo/london-js-white.svg', alt='London JS')
        li: a(href='https://twitter.com/nodegirls_ldn', target='_blank'): img(src='/assets/logo/nodegirls-white.svg', alt='Nodegirls London')

    h4.center
        | We are currently seeking sponsorship
        .normal If you want to contribute, we'd love to hear from you

    br

    a(href='mailto:ian.crowther@nearform.com?Subject=NodeConf%20London%202016%20-%20Sponsorship').button.center.primary Be a Sponsor
