section#venue(full-height): .page-size

    img.header-illustrator(src='/assets/illustrations/venue.svg')

    h2.center Venue

    .row

        .col-8.off-2

            h4.center
                | Welcome to the Barbican Centre
                .normal The home for music, dance, theatre, film and creativity

            br

            ul.photos
                li.main: a.photo-venue.photo-venue-01(href='https://www.barbican.org.uk', target='_blank')

                .row
                    li.col-4: a.photo-venue.photo-venue-02(href='https://www.barbican.org.uk', target='_blank')
                    li.col-4: a.photo-venue.photo-venue-03(href='https://www.barbican.org.uk', target='_blank')
                    li.col-4: a.photo-venue.photo-venue-04(href='https://www.barbican.org.uk', target='_blank')

            .center: a.button(href='https://www.barbican.org.uk', target='_blank') Barbican Website