section#venue(full-height): .page-size

    .row

        .col-6.copy

            h2 Venue - CodeNode

            p.large
                | 10 South Place, 
                br
                | London, 
                br
                | EC2M 7EB
                br
                br
                | NodeConf London 2016 will be held at Code Node, the UK's largest dedicated technology venue, based in Central London featuring super fast wifi and accessible access for all.

            h3 Getting Here

            h4 By Underground

            p.medium Located equidistant between Moorgate and Liverpool Street underground stations. NodeConf London can be reached via the Central, Northern, Circle, Metropolitan and Hammersmith & City lines. In addition, Liverpool Street station is a major overland train station connecting directly with the outer London regions and rest of the UK.

            h4 By Bike

            p.medium For cycling directions, check out a cycling map around us. If you are arriving or departing using a Santander Cycles Hire bike, there is a docking station right outside our venue on South Place.

            a.button(href='https://skillsmatter.com/event-space', target='_blank') SkillsMatter Website

        .col-5.off-1

            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3124.3467093310483!2d-0.08604523359812112!3d51.519417986617036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b574f527be3%3A0x5cbcad177df0b525!2sSkills+Matter!5e0!3m2!1sen!2sus!4v1458170851800', width='400', height='400', frameborder='0', style='border:0'. allowfullscreen)
            //- ul.photos
            //-     li.main: img(src='/assets/photos/venue/01@2x.jpg')

            //-     .row
            //-         li.col-4: img(src='/assets/photos/venue/02@2x.jpg')
            //-         li.col-4: img(src='/assets/photos/venue/03@2x.jpg')
            //-         li.col-4: img(src='/assets/photos/venue/04@2x.jpg')