section#venue(full-height): .page-size

    .row

        .col-5.copy

            h2 Venue - CodeNode

            p.large.
                10 South Place,<br>
                London,<br>
                EC2M 7EB<br><br>

                Nodeconf London 2016 will be held at Code Node, the UK's largest dedicated technology venue, based in Central London featuring super fast wifi and accessible access for all.

            h3 Getting Here

            h4 By Underground

            p.medium
              Located equidistant between Moorgate and Liverpool Street underground stations. Nodeconf London can be reached via the Central, Northern, Circle, Metropolitan and Hammersmith & City lines. In addition, Liverpool Street station is a major overland train station connecting directly with the outer London regions and rest of the UK.

            h4 By Bike

            p.medium
              For cycling directions, check out a cycling map around us. If you are arriving or departing using a Santander Cycles Hire bike, there is a docking station right outside our venue on South Place.

            a.button(href='https://skillsmatter.com/event-space', target='_blank') SkillsMatter Website

        .col-6.off-1

            ul.photos
                li.main: img(src='/assets/photos/venue/01@2x.jpg')

                .row
                    li.col-4: img(src='/assets/photos/venue/02@2x.jpg')
                    li.col-4: img(src='/assets/photos/venue/03@2x.jpg')
                    li.col-4: img(src='/assets/photos/venue/04@2x.jpg')
