#cause
    section-color(color-green-dark)

    .illustration
        width 60%
        margin-top 70px
        animation float 1s infinite alternate ease-in-out
        position relative

    .logo
        display block
        margin auto
        width 90%
        margin-bottom 20px

    .cause-list
        margin-top 40px
        text-align center