section#cfp
    bg-color = #3e5d6c

    section-color(bg-color)

    img.illustration
        display block
        width 70%
        margin auto

    .cfp-boxes

        .col-3

            .box
                border-radius()
                overflow hidden
                padding 0

            &:nth-child(1) h3
                background color-start-it

            &:nth-child(2) h3
                background color-build-it

            &:nth-child(3) h3
                background color-ship-it

            &:nth-child(4) h3
                background color-use-it

        h3
            text-align center
            padding 20px
            background color-white
            color bg-color
            opacity 1
            color color-white

        ul
            debullet()

            li
                padding 5px 20px
                margin-bottom 10px

                &:last-child
                    margin-bottom 20px