#event
    position relative
    overflow hidden

    .illustration
        bg-image('illustrations/hex-city', contain, right center, no-repeat)
        width 50%
        padding-bottom 40%
        position absolute
        right 0
        top 50%
        margin-top -280px