#event
    position relative

    &:after
        accelerate()
        absolute-cover()
        content ''
        overflow hidden
        background-image url(assets-dir + '/logo/nodeconf-outline.svg')
        background-repeat no-repeat
        background-size 25% auto
        background-attachment fixed
        background-position left 70% center
        background-repeat no-repeat
        opacity 1
        pointer-events none

    .copy
        position relative
        z-index 1

    h4
        opacity 1

    .logo
        display inline-block
        height 30px
        margin -8px 0

    .illustration
        bg-image('illustrations/hex-city', contain, right center, no-repeat)
        width 50%
        padding-bottom 40%
        position absolute
        right 0
        top 50%
        margin-top -280px
        opacity .1

    @media (max-width: mobile-breakpoint)

        .illustration
            width 100%
            padding-bottom 100%
            margin-top 0
            transform translateY(-50%)
            opacity .2

        &:after
            display block
            background-attachment scroll
            width 80%
            max-width 300px
            margin auto
            margin-top -50px
            margin-bottom 50px
            padding-bottom @width
            position static
            background-position center center
            background-size contain

        .copy a
            margin-top 10px
            display block

            .logo
                margin-left -20px