row-color(base-color = #999)
    bg-color = mix(base-color, color-white, 10%)

    border-left-color base-color
    background-color bg-color

    .segment
        color base-color
        font-weight bold
        text-transform capitalize

#schedule
    accelerate()
    section-color(#262c47)

    table
        border-radius()
        flat-shadow()
        width 100%
        max-width 600px
        margin auto
        color color-black
        text-align center
        border-collapse collapse
        border-spacing 0
        overflow hidden
        font-size 13px

        thead
            background lighten(color-blue, 20)
            color color-white
            text-transform uppercase
            font-size 12px

        td, th
            padding 15px
            border 0
            margin 0

        tbody
            row-bg-color = color-white

            background-color row-bg-color

            tr
                transition background .2s, color .2s
                cursor default
                border-left 10px solid rgba(color-white, 0)

                // &:nth-child(odd)
                //     background-color darken(row-bg-color, 3)

                &.start-it
                    row-color(color-start-it)

                &.build-it
                    row-color(color-build-it)

                &.ship-it
                    row-color(color-ship-it)

                &.use-it
                    row-color(color-use-it)

                &:hover
                    background-color color-brand

                    border-left-color rgba(color-white, 0)

                    &, .segment
                        color color-white

            .segment
                color #666

            .start, .end
                font-style italic
                opacity .5

    @media (max-width: mobile-breakpoint)

        table
            max-width 100%

            td, th
                font-size 11px
                padding-left 5px
                padding-right @padding-left
