section#sponsors
    section-color(#3a535a)
    text-align center

    h3
        margin-top 50px

    ul.sponsors-list
        debullet()
        margin-bottom 50px

        li
            display inline-block
            width 150px
            margin 20px

            a
                opacity .5

            img
                display block
                width 100%

        &.community

            li
                width 100px