section#sponsors
    section-color(#3a535a)
    text-align center

    ul.sponsors-list
        debullet()
        // border-radius()
        margin-bottom 50px
        // background color-white
        display inline-block

        li
            display inline-block
            width 200px
            padding 20px
            box-sizing border-box

            a
                opacity .5

            img
                display block
                width 100%

        &.community

            li
                width 140px

    @media (max-width: mobile-breakpoint)

        ul.sponsors-list

            li
                width 50%

            &.community li
                width (100% / 3)