section#sponsors
    section-color(#131e36)
    text-align center

    .sponsors-row

        h4
            display inline-block
            position relative
            top -20px
            margin-right 20px

        ul
            border-radius()
            vertical-align middle

    ul.sponsors-list
        debullet()
        margin-bottom 10px
        display inline-block

        li
            display inline-block
            width 200px
            padding 20px
            box-sizing border-box

            a
                opacity .5

            img
                display block
                width 100%

        &.community

            li
                width 140px

    @media (max-width: mobile-breakpoint)

        h2
            margin-bottom 40px

        .sponsors-row

            h4
                position static
                display block
                margin-top 30px
                margin-bottom 10px

            ul
                vertical-align baseline

        ul.sponsors-list

            li
                width 140px
                padding 10px

            &.community li
                width 100px
                padding 10px