#venue
    section-color(#152c37)

    .copy
        margin-top 60px

    a.map
        bg-image('/maps/venue', contain, center center, no-repeat)
        display block
        width 100%
        padding-bottom 100%
        margin-top 100px
        margin-bottom 50px

        @media (max-width: mobile-breakpoint)
            margin-top 30px

    iframe
        width 100%
        margin-top 150px
        pointer-events none

    ul.photos
        debullet()

        .main
            margin-bottom 15px

        img
            border-radius()
            width 100%

    @media (max-width: mobile-breakpoint)

        .col-6
            margin 0

        .off-1
            margin 0

        iframe
            margin-top 40px

        ul.photos li
            padding 0