#venue
    section-color(#152c37)

    ul.photos
        debullet()

        .main
            margin-bottom 15px

        img
            border-radius()
            width 100%

    .photo-venue
        border-radius(5px)
        width 100%
        padding-bottom 60%
        background-size 100% auto
        background-position center center
        display block

        &.photo-venue-01
            bg-image('photos/venue/01', false, false, false, 'jpg')
            margin-bottom 20px

        &.photo-venue-02
            bg-image('photos/venue/02', false, false, false, 'jpg')

        &.photo-venue-03
            bg-image('photos/venue/03', false, false, false, 'jpg')

        &.photo-venue-04
            bg-image('photos/venue/04', false, false, false, 'jpg')

    @media (max-width: mobile-breakpoint)

        ul.photos li
            padding 0