#venue
    section-color(#152c37)

    .copy
        margin-top 60px

    ul.photos
        debullet()

        .main
            margin-bottom 15px

        img
            border-radius()
            width 100%