@keyframes float {

    0% {
        transform translate3d(0, 10px, 0)
    }

    100% {
        transform translate3d(0, -10px, 0)
    }

}

@keyframes cloud {

    0% {
        transform translate3d(-600px, 0, 0)
    }

    100% {
        transform translate3d(100%, 0, 0)
    }

}

@keyframes float-scroll-pointer {

    0% {
        transform translate3d(-50%, -5px, 0)
    }
    
    100% {
        transform translate3d(-50%, 5px, 0)
    }

}