html, body
    margin 0
    padding 0

section-color(base-color = color-blue)
    background base-color

page-size()
    max-width 1000px
    margin auto

section
    section-color()

    .page-size
        padding 100px 20px

    @media (max-width: mobile-breakpoint)

        .page-size
            padding 50px 20px
            text-align center

.page-size
    page-size()

body.fix-header

    header
        position fixed
        left 0
        top 0
        width 100%
        z-index 999

    section:first-child
        margin-top 54px

header
    clearfix()
    background color-blue-dark
    padding 17px 0
    font-size 18px

    a.logo
        display block
        float left

        span
            text-transform uppercase

            &:before
                content '\2022'
                margin 0 10px
                opacity .5

        img
            height 17px

    a
        color color-white

    ul
        debullet()
        float right

        li
            display inline-block
            margin-left 20px

        a
            transition color .2s

            &:hover
                color color-brand

            &.active
                color rgba(color-white, .3)

    @media (max-width: mobile-breakpoint)
        text-align center

        a.logo
            float none

        .nav
            display none

footer
    background color-black
    padding 20px
    color color-white
    text-align right

    ul
        debullet()

        li
            display inline-block

            a
                color color-white
                padding 0 20px