html, body
    margin 0
    padding 0

section-color(base-color = color-blue)
    background base-color

page-size()
    max-width 1000px
    margin auto

section
    section-color()

    .page-size
        padding 100px 0

.page-size
    page-size()

header
    clearfix()
    background color-blue-dark
    padding 17px
    font-size 18px

    a.logo
        display block
        float left

        span
            text-transform uppercase

            &:before
                content '\2022'
                margin 0 10px
                opacity .5

        img
            height 17px

    a
        color color-white

    ul
        debullet()
        float right

        li
            display inline-block
            margin-left 20px

        a
            transition color .2s

            &:hover
                color color-brand

            &.active
                color rgba(color-white, .3)