html, body
    margin 0
    padding 0

section-color(base-color = color-blue)
    background base-color

page-size()
    max-width 1000px
    margin auto

section
    section-color()
    max-width 100%
    overflow hidden

    .page-size
        padding-top 100px
        padding-bottom @padding-top

    @media (max-width: mobile-breakpoint)

        .page-size
            padding 50px 20px
            text-align center

.page-size
    page-size()

@media (max-width: mobile-breakpoint)

    body
        padding-top header-height

body.fix-header

    header
        position fixed
        left 0
        top 0
        width 100%
        z-index 999

header
    hamburger-spacing = 10px
    hamburger-scale = .34

    clearfix()
    background color-blue-dark
    padding 17px 0
    font-size 15px

    a.logo
        display block
        float left

        span
            text-transform uppercase
            position relative
            top -3px

            &:before
                content '\2022'
                margin 0 10px
                opacity .5

        img
            height 17px

    .hamburger

        border-radius()
        background lighten(color-blue, 10)
        position absolute
        right hamburger-spacing
        top hamburger-spacing
        width (header-height - hamburger-spacing * 2)
        height @width
        display none

        .inner
            hamburger-closed(hamburger-scale)
            position absolute
            left 50%
            top 50%
            transform translate(-50%, -50%)

    &.open .hamburger .inner
        hamburger-open(hamburger-scale)

    a
        color color-white

    ul
        debullet()
        float right

        li
            display inline-block
            margin-left 20px

        a
            transition color .2s

            @media (min-width: mobile-breakpoint)

                &:hover
                    color color-brand

                &.active
                    color rgba(color-white, .3)

    @media (max-width: mobile-breakpoint)
        position fixed
        left 0
        top 0
        text-align center
        z-index 9
        width 100%

        a.logo
            badge-bg-color = darken(color-blue, 10)
            badge-height = 22px

            span
                hexa-badge('bottom')
                font-size 12px

        .hamburger
            display block

        a.logo
            float none
            margin 0
            display inline-block

        .nav
            float none
            position fixed
            right 100%
            top header-height
            width 100%
            height 100%
            transform translateX(0)
            transition transform .2s
            background color-blue
            overflow visible

            &.dragging, &.open
                box-shadow rgba(0, 0, 0, .3) 2px 0 3px 0

            &.dragging
                transition none

            li
                active-color = lighten(color-blue, 10)

                display block
                margin 0
                position relative
                z-index 9

                a
                    display block
                    text-align center
                    padding 15px
                    border-bottom 1px solid rgba(color-black, .2)
                    box-shadow rgba(color-white, .05) 0 1px 0 0
                    transition background .2s
                    background rgba(active-color, 0)

                    &:active
                        background active-color

                &:last-child a
                    box-shadow none

        &.open .nav
            transform translateX(100%)

contact-color(base-color)
    background-color rgba(base-color, 0)

    &:hover
        background-color base-color

    @media (max-width: mobile-breakpoint)
        background-color base-color

footer
    background black
    color color-white
    text-align right

    ul
        debullet()

        li
            display inline-block

            a
                display inline-block
                color color-white
                line-height 50px
                width @line-height
                text-align center
                font-size 20px
                text-transform uppercase
                transition background-color .2s

                span
                    display none

                i
                    top 2px
                    position relative

                &.contact-email
                    contact-color(#f07524)

                &.contact-twitter
                    contact-color(#7bc6fa)

                &.contact-github
                    contact-color(#333)

    @media (max-width: mobile-breakpoint)

        ul li
            display block

            a
                display block
                text-align center
                line-height 40px
                width auto
                font-size 13px

                i
                    margin-right 10px

                span
                    display inline-block