body
    smooth-font()
    font-family 'Gotham'
    font-size type-size-base
    color color-white

a
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    -webkit-tap-highlight-color transparent

a
    color mix(color-brand, color-white, 70)
    font-weight bold
    text-decoration none
    cursor pointer

    img
        border 0

.hex-badge
    hex-badge('top')
    font-size 13px

    &.bottom
        bottom 0
        top auto

.left
    float left

.right
    float right

.center
    text-align center

.light
    font-weight light

.normal
    font-weight normal

.header-illustrator
    max-width 100px
    margin auto
    display block
    margin-bottom 20px

h1, .h1, h2, .h2, h3, .h3
    text-shadow rgba(0, 0, 0, .2) 0 2px 0

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
    color color-white

h1, .h1, h2, .h2
    vertical-rhythm(20px)

h3, .h3, h4, .h4
    vertical-rhythm(15px)

h5, .h5, h6, .h6
    vertical-rhythm(10px)

h1, .h1, h2, .h2
    text-transform uppercase

h3, .h3, h4, .h4, h5, .h5, h6, .h6
    text-transform none
    opacity .6

h1, .h1
    font-size heading-size-base

h2, .h2
    font-size heading-size-base - heading-size-step

h3, .h3
    font-size heading-size-base - heading-size-step * 2

h4, .h4
    font-size heading-size-base - heading-size-step * 3

h5, .h5
    font-size heading-size-base - heading-size-step * 4

h6, .h6
    font-size heading-size-base - heading-size-step * 5

hr
    vertical-rhythm(40px)
    margin-top 40px
    height 0
    border 0
    border-top 1px dashed color-white
    opacity .2

p, ol, ul, blockquote
    vertical-rhythm()

p

    &.large
        font-size type-size-large

    &.small
        font-size type-size-large