// Palette

color-black = #000
color-gray-dark = #333
color-white = #fff

color-brand = #ff6631

color-yellow = #f1c309

color-red = #f75616

color-blue = #2d2c3d
color-blue-dark = #242333
color-blue-light = #334c53

color-green-light = #c7ff66

color-sky = #97def2
color-sky-dark = #97def2
color-sky-light = #ace8f9

color-green-dark = #2a544a

color-twitter = #58e3de

// Typography

heading-size-base = 30px
heading-size-step = 3px

type-size-base = 16px
type-size-large = 19px
type-size-small = 13px

color-start-it = #f07b48
color-build-it = #5ed7b3
color-ship-it = #f49e8a
color-use-it = #f3b82a

// Assets

assets-dir = '/assets'

// Cache

cacheId = '1'

// Layout

header-height = 54px
mobile-breakpoint = 600px