extends layout.jade

block top-content
    include sections/hero.jade

block main-content
    include sections/event.jade
    include sections/cause.jade
    include sections/speakers.jade
    include sections/venue.jade