doctype html
html(lang='en')

    head

        link(type='text/css', href='/css/styles.css', rel='stylesheet')

        title
            block title
                | NodeConf London 2016 #{foo}

    body

        block top-content

        header: .page-size

            a.logo(href='/', title='NodeConf Logo')
                img(src='/assets/logo/nodeconf.svg', alt='NodeConf')
                span London, 2016

            ul.nav
                li: a.active(href='/#hero') Home
                li: a(href='/call-for-speakers') Call for Speakers
                li: a(href='/code-of-conduct') Code of Conduct
                li: a(href='/#speakers') Speakers
                li: a(href='/#venue') Venue
                li: a(href='/#sponsors') Sponsors
                //- li: a(href='/#schedule') Schedule
                //- li: a(href='/#cause') Cause

        block main-content

        footer: .page-size

            ul.links

                li: a(href='/code-of-conduct') Code of Conduct
                li: a(href='mailto://ian.crowther@nearform.com?Subject=NodeConf%20London%202016%20-%20Enquiry') Contact Us

        script(type='text/javascript', src='/js/index.js')
